body{
    font-family: monospace;
    background-image: url("images/bgimg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(163, 204, 17);
    transition: 2s;
}
.bg {
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px); 
}
.house{
    
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    position: static;
}
.topbar{
    background-color:rgba(255, 255, 255, 0) ;
    position: fixed;
    left: 0%;
    right: 0%;
    top:30px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    width: 98%;
    justify-content: space-between;
    z-index: 100px;
}
.nav-a{
    margin-left: 10px;
}
.nav-a:hover{
    text-decoration: underline;
    color: rgb(163, 204, 17);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
h1{
font-size: 50px;
}
.home{
    margin: auto;
}
.about{
margin-top: 100px;
float: left;
right: 3px;
position: absolute;
width: 50%;
}